<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StackCopy - Place where you find answer to your questions</title>
    <link rel="stylesheet" href="{% static 'forums/bulma.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        function start() {

            let search_input = document.getElementById("searchBar");
            search_input.addEventListener("keyup", function (event) {
                if (event.code === "Enter") {
                    search();
                }
            });

            {% if user.is_authenticated %}
                let dropdown = document.querySelector('.dropdown');
                dropdown.addEventListener('click', function (event) {
                    event.stopPropagation();
                    dropdown.classList.toggle('is-active');
                });
            {% endif %}


        }

        window.onload = start;

    </script>
</head>
<body>
<nav class="navbar is-black" role="navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="questions">
            <strong>StackCopy</strong>
        </a>
    </div>

    <div class="navbar-item">
        <span class="control has-icons-right">
            <input type="text" id="searchBar" placeholder="Search for question" class="input is-rounded">
            <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
        </span>

    </div>

    {% if user.is_authenticated %}
        <div class="navbar-end">
            <div class="navbar-item">


                <div class="dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button is-dark" style="background-color: rgba(0, 0, 0, 0);">
                            <span>Welcome <b>{{ user.username }}</b></span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <b>{{ user.username }}</b>
                            </div>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="#">
                                <i class="fa-fw fas fa-user-edit"></i>
                                Edit Info
                            </a>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                Logout&nbsp
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-rounded" href="{% url 'signup' %}">
                        Sign up
                    </a>
                    <a class="button is-rounded" href="{% url 'login' %}">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

</nav>

<div class="container" style="position: absolute;width: 20%;margin-right: 3%;margin-top: 4%;right: 0%;">

    <div class="box">
        <h5 class="title is-5">Famous Tags</h5>
        <div class="tags">
            {% for tag in famous_tags %}
                <span class="tag is-warning is-rounded">{{ tag.tag_name }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="box">
        <h5 class="title is-5">Popular Questions</h5>
        <table class="table is-striped is-hoverable is-fullwidth">
            {% for question in popular_questions %}
                <tr>
                    <td>{{ question.title }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

</div>

{% block content %}
{% endblock %}
</body>
</html>