<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StackCopy - Place where you find answer to your questions</title>
    <link rel="stylesheet" href="{% static 'forums/bulma.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
<nav class="navbar is-black" role="navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="questions">
            <strong>StackCopy</strong>
        </a>
    </div>

    {% if user.is_authenticated %}
        <div class="navbar-end">
            <div class="navbar-item">
                <p>Welcome <b>{{ user.username }}</b></p>
                <a class="button is-rounded is-small" href="{% url 'logout' %}">Logout<i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-rounded" href="{% url 'signup' %}">
                        Sign up
                    </a>
                    <a class="button is-rounded" href="{% url 'login' %}">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

</nav>
{% block content %}
{% endblock %}
</body>
</html>